<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/main_page.css">
    <script src="/static/main_page.js"></script>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="fr-container">

        {{template "navbar" .}}
        {{template "settingsModal" .}}

        <main>
            <form id="bookForm" onsubmit="event.preventDefault(); applyFilters(true);">
                <div class="mp-search-container">
                    <input name="name" id="keyword-input" type="text" class="mp-search-input" placeholder="Enter the title of the book..." aria-label="Enter the title of the book">
                    <span class="mp-search-icon"></span>
                </div>
            </form>

            <div class="fr-list" id="labels-container">
                {{range .Labels}}
                    <div class="fr-label" data-id="{{.LabelID}}" tabindex="0">{{.Name}}</div>
                {{end}}
            </div>

            <div class="fr-list fr-list--left">
                <a href="/library/" class="fr-btn fr-btn--large">All books</a>
                <a href="/library/continue/" class="fr-btn fr-btn--large  fr-btn--chosed">Continue reading</a>
                <button onclick="applyFilters(true)" class="fr-btn--large fr-btn-right">Apply Filters</button>
            </div>
            <hr>

            <div id="results-container" class="fr-card-list" id="cardList"></div>

            <div>
                <section class="objects fr-card-grid">
                    {{range .Books}}
                        {{template "bookCard" .}}
                    {{end}}
                </section>
            </div>
        </main>
    </div>
</body>
</html>