<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/main_page.css">
    <script src="/static/main_page.js"></script>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="fr-container">

        {{template "navbar" .}}
        {{template "settingsModal" .}}

        <main>
            <form id="bookForm" onsubmit="event.preventDefault(); applyFilters(false);">
                <div class="mp-search-container">
                    <input name="name" id="keyword-input" type="text" class="mp-search-input" placeholder="Enter the title of the book..." aria-label="Enter the title of the book">
                    <span class="mp-search-icon"></span>
                </div>
            </form>

            <div class="fr-list" id="labels-container">
                {{range .Labels}}
                    <div class="fr-label" data-id="{{.LabelID}}" tabindex="0">{{.Name}}</div>
                {{end}}
            </div>

            <div class="fr-list fr-list--left">
                <button class="fr-btn--large fr-btn--chosed">All books</button>
                <a href="/library/continue/" class="fr-btn fr-btn--large">Continue reading</a>
                <button onclick="applyFilters(false)" class="fr-btn--large fr-btn-right">Apply Filters</button>
            </div>
            <hr>

            <div id="results-container" class="fr-card-list" id="cardList"></div>

            <h1>Popular books</h1>
            <div class="fr-card-list" id="cardList">
                {{range .Books}}
                    {{template "bookCard" .}}		 
                {{end}}
            </div>

            <input type="range" class="form-range" id="customRange1" value="0">

            {{range .LastReleased}}
                <div class="mp-book-card">
                    <div class="mp-book-info">
                        <h2>{{.Name}}</h2>
                        <h3>{{.Author}}</h3>
                        <p>{{.Description}}</p>
                        <div class="fr-list fr-list--left" role="group" aria-label="Book categories">
                            {{range .BookLabels}}
                                <div class="fr-label">{{.Name}}</div>
                            {{end}}
                        </div>
                    </div>
                    <div class="bp-book-cover-wrapper">
                        {{if .CoverPath}}
                            <img src="/covers/{{.CoverPath}}" alt="Book cover" class="book-cover">
                        {{else}}
                            <div class="fr-blue-box">
                                {{.Name}}
                            </div>
                        {{end}}
                    </div>
                </div>
            {{end}}
        </main>
    </div>
</body>
</html>