/*
|-----------------------------------------------------------
| || 1. SEARCH BAR COMPONENTS
|-----------------------------------------------------------
*/

.mp-search-container {
    margin: 0px auto 20px auto;
    position: relative;
    width: 80%;
}

.mp-search-input {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-lg);
    font-size: var(--font-size-sm);
    padding: 10px 20px;
    width: 100%;
}

.mp-search-icon {
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    height: 20px;
    width: 20px;

    background-image: var(--icon-search);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mp-search-input:focus {
    outline-color: var(--primary-color);
}

/*
|-----------------------------------------------------------
| || 2. FEATURED BOOK CARD (Big Card)
|-----------------------------------------------------------
*/

.mp-book-card {
    align-items: stretch;
    display: flex;
    justify-content: space-between;

    margin: 40px auto;
    overflow: hidden;
    width: 100%;

    background-color: var(--neutral-1-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.mp-book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
    flex: 2;

    background-color: var(--neutral-2-color);
}

.mp-book-image {
    align-items: center;
    display: flex;
    justify-content: center;

    min-width: 200px;
    flex: 1;

    background-color: var(--neutral-2-color);
}

.mp-book-image img {
    object-fit: cover;

    max-height: 250px;
    max-width: 100%;
}