/*
|-----------------------------------------------------------
| || 1. LAYOUT AND CONTAINERS
|-----------------------------------------------------------
*/

.up-container {
    position: relative;

    margin: 0 auto;
    min-height: 100vh;
    padding: var(--spacing-lg);
    padding-top: 20px;
    width: 80%;

    background: var(--primary-color);
    max-width: 900px;
}

.up-user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

/*
|-----------------------------------------------------------
| || 2. HEADER GROUPS
|-----------------------------------------------------------
*/

.up-header-group-left {
    display: grid;
    align-items: center;

    padding-left: 20px;
}

.up-header-group-center {
    padding-left: auto;
}

.up-header-group-right {
    display: flex;
    align-items: center;
}

/*
|-----------------------------------------------------------
| || 3. USER INFO AND AVATAR
|-----------------------------------------------------------
*/

.up-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-right: 15px;
}

.up-avatar-icon--big {
    height: 100px;
    width: 100px;
}

.up-user-name {
    color: var(--neutral-1-color);
    font-size: var(--font-size-md);
    font-weight: 500;

    margin-bottom: 5px;
}

/*
|-----------------------------------------------------------
| || 4. DIVIDER
|-----------------------------------------------------------
*/

.up-hr {
    border-top: 1px solid var(--neutral-1-color);
}