<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>User Page</title>
  <link rel="stylesheet" type="text/css" href="/static/user_page.css">
</head>
<body>
  <div class="user-container">
    <h2 id="userName">{{.Name}}</h2>

    <div class="section">
      <h3>Favorite Books</h3>
      <ul class="book-list" id="favoriteBooks">
        {{range .Favourite}}
          <li class="book-cloud">
            <img src="/static/edit.png" alt="Edit book" class="icon">

            <div class="book-info">
              <a href="/library/one/{{.ID | extractNumericPart}}" id="book-href" class="book-name">{{.Name}}</a>
              <div class="book-author">{{.Author}}</div>
            </div>
          </li>
        {{end}}
      </ul>
    </div>

    <div class="section">
      <h3>Books Created</h3>
      <form action="/library/addbook" method="get">
        <div><button>+</button></div>
      </form>
      <ul class="book-list" id="createdBooks">
        {{range .Written}}
          <li class="book-cloud">
            <img src="/static/edit.png" alt="Edit book" class="icon">

            <div class="book-info">
              <a href="/library/one/{{.ID | extractNumericPart}}" id="book-href" class="book-name">{{.Name}}</a>
              <div class="book-author">{{.Author}}</div>
            </div>

            <img src="/static/trash.png" alt="Delete book" class="icon" onclick="deleteBook('{{.ID | extractNumericPart}}')">
          </li>
        {{end}}
      </ul>
    </div>
  </div>
</body>
<script src="/static/user_page.js"></script>
</html>
